@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    height: 50vh;
    background-image: url('./images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.list__link{
    font-size: 18px;
    color: white;
}

.search{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #666666;
    padding: 0 10px;
}

.search input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
}

.header__info{
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-evenly;
}

.title{
    color: white;
    font-size: 40px;
}

.header__btn{
    font-weight: 600;
    color: black;
    width: 110px;
    height: 50px;
    background-color: #76B900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    padding: 50px 0;
}
.main__title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
}

.card{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
    box-shadow: 0 2px 20px #1a1f127d;
}

.card img{
    width: 100%;
}

.card h3{
    font-size: 20px;
    padding: 0 15px;
    text-align: center;
}

.card a{
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-angle-right{
    color: #76B900;
    font-size: 20px;
}